@media screen and (max-width: 1024px) {
  	
}
@media screen and (min-width: 767px) {
    header .navbar .navbar-nav .nav-item.dropdown:hover>.dropdown-menu {
        display: block;
    }
}
@media screen and (max-width: 767px) {
    .breadcrumbSection {
        padding: 40px 0;
    }
    .customBreadcrumb {
        display: none;
    }
  	.callbackForm {
  		position: relative;
  	}
  	.services, .categories, .products, .testimonials {
  		padding: 30px 0;
  	}
    header {
        position: relative;
    }
    header .navSection.fixedHeader.navbar .navbar-brand.logoName img {
        height: 90px;
    }
    .navSection {
        padding: 1rem;
    }
    .navSection .navbar-brand {
        text-align: left !important;
        margin-top: 10px !important;
    }
    .navSection .navbar-brand img,
    header .navSection.fixedHeader.navbar .navbar-brand img {
        height: 50px;
    }
    .navSection.fixedHeader .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
    }
    .vmList .vmWidget {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 15px;
    }
    .vmList .vmWidget:last-child {
        margin-bottom: 0px;
    }
    .filterWidget {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 99999;
        width: 100%;
        height: 100%;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
        -webkit-transition: all .5s ease;
        -o-transition: .5s all ease;
        transition: all .5s ease;
    }
    .filterWidget.active {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    .filterTab {
        overflow: auto;
        padding-bottom: 50px;
        flex: 1;
    }
    .mFilter {
        width: 100%;
        position: fixed;
        bottom: 0px;
        left: 0;
        height: 50px;    
        line-height: 50px;
        text-align: center;
        background-color: #fff;    
        color: #ff5e14;
        z-index: 99;
        box-shadow: 0 0 20px rgba(140, 140, 140, 0.25);
    }
    .mFilter span {
        font-weight: 800;
    }
    .m-applyBtn {
        width: 100%;
        height: 44px;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 9999999;
    }
    .m-applyBtn span {
        background: #fff;
        color: #ff5e14;
        font-weight: 800;
        line-height: 44px;
        border-radius: 4px;
        width: 49%;
        text-align: center;
        display: inline-block;
    }
    .m-applyBtn span.active {
        background: #ff5e14;
        color: #fff;
    }
}
@media screen and (max-width: 575px) {
  	.navSection {
  		border-width: 4px;
  	}
    .bannerSlider .owl-dots {
        bottom: 5px;
    }
    .bannerImg img {
      /*height: 250px;*/
      object-fit: cover;
    }
    .vmList .vmWidget {
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
    }
    .vmList .vmWidget .vmImg {
        flex: 0 0 60px;
    }
    .vmList .vmWidget h5 {
        margin-bottom: 10px;
    }
    .testiItem {
        flex-wrap: wrap;
    }
    .testiItem .testImg {
        flex: 0 0 100%;
        margin-bottom: 15px;
    }
    .testiItem .testDes {
        flex: 0 0 100%;
    }
    .highlightContent {
      flex-wrap: wrap;
    }
    .highlightContent h2 {
      margin-bottom: 15px;
    }
    .highlightContent .contactBtn {
      flex: 0 0 100%;
    }
}